services:
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=fish'
      - 'MYSQL_PASSWORD=password'
      - 'MYSQL_ROOT_PASSWORD=password'
      - 'MYSQL_USER=user'
    ports:
      - '3306'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
    
  springboot-app:
    build:
      context: ./Backend/api
      dockerfile: Dockerfile
    ports:
      - "1701:1701"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/fish
    depends_on:
      mysql:
        condition: service_healthy
    command: ["java", "-jar", "app.jar"]



  jacenterprise-react-app:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "1700:6001"
    volumes:
      - .:/Frontend/src/app
      - /Frontend/node_modules